.node-input-container {
  box-shadow: 0px 0px 0px 1px #2a2a2a;

  .node-input {
    input {
      padding: 4px 6px;
    }
  }

  .action-buttons {
    gap: 4px;
    .add {
      border: none;
      color: white;
      padding: 4px 8px;
      background: #2a2a2a;
    }
  }
}
